.main_chat
  .right-header
    .group-info
      %p.group-info__name 
        = @group.name
      .group-info__member
        %p Member:
        %p 
          = @group.users.pluck(:name).join(", ")

    = link_to edit_group_path(@group), class:"group-editer" do
      Edit

  .message-list
    = render @messages

  .right-footer
    = form_with model: [@group, @message], html: {class: "message-form"}, local: true do |form|
      .form-contents
        = form.text_field :content, class: "input-form", placeholder: "Type a message"
        = form.label :image, class: "up-image__icon" do
          %i.fas.fa-photo-video
          = form.file_field :image, class: "up-image__file"
      = form.submit "SEND", class: "send-btn"